@model IEnumerable<DepartmentModel>

<button class="btn btn-outline-primary" style="float: left; margin-top: 10px;"
    onclick="location.href='@Url.Action("AddDept", "Department")'">Add Department</button>
<br>
<h2 class="text-center">All Departments</h2>

<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.c_deptid</td>
                <td>@city.c_deptname</td>
                <td>
                    <a class="btn btn-primary"
                        href="@Url.Action("UpdateDept", "Department", new { deptId = city.c_deptid })">Edit</a>

                    <form method="post" action="@Url.Action("DeleteDept", "Department")" style="display:inline;">
                        @Html.Hidden("deptId", city.c_deptid)
                        <button class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this department?');"
                            type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>