@model EmployeeModel

@{
    ViewData["Title"] = "ViewEmployee";
}
<div class="container">
    <h2 class="text-center">Get Your Details</h2>

    @* <h2>Employee Details for @Model.c_empname</h2> *@


    @if (Model == null || Model.c_empid == 0)
    {
        <p>
            <a asp-action="create" class="btn btn-outline-primary">Add</a>
        </p>
    }
    else
    {
        <div class="card mb-4">
            <div class="card-body">

                <table class="table table-responsive table-striped ">
                    <thead>
                        <tr>
                            @* <th>Id</th> *@
                            <th>Name</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Shift</th>
                            <th>Department</th>
                            <th>Image</th>


                            <th>Action</th>


                            @* <th>Actions</th> *@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            @* <td>@item.c_itemid</td> *@
                            <td>@Model.c_empname</td>
                            <td>@Model.c_empgender</td>
                            <td>@Model.c_empdob</td>
                            <td>@Model.c_empshift</td>

                            <td>@Model.c_empdept</td>
                            <td>
                                <img src="~/images/@Model.c_empimagePath" class="rounded-squre" height="100" width="100"
                                    asp-append-version="true" />

                            </td>




                            <td>

                                <a asp-action="EditEmployee"  class="btn btn-warning">Edit</a>
                                |
                                <a asp-action="Details"  class="btn btn-info">Details</a> 
                                <form method="post"  style="display:inline;">
                                    @Html.Hidden("id", @Model.c_empid)
                                    @* <button class="btn btn-danger" onclick="return confirm('Are you sure you want to
                                delete this employee?');" type="submit">Delete</button> *@
                                </form>
                            </td>
                        </tr>

                        
                    </tbody>
                </table>


            </div>
        </div>
}
    </div>


<script>
    function confirmDelete(c_itemid) {
        if (confirm('Are you sure you want to delete this items?')) {
            $.ajax({
                url: '@Url.Action("DeleteProduct", "Admin")',
                type: 'POST',
                data: { c_userid: c_userid },
                success: function (result) {
                    // Reload the page or update the view as needed
                    location.reload(); // Example: Reload the page
                },
                error: function (error) {
                    console.log(error);
                    alert('Error deleting category.');
                }
            });
        }
    }
</script>